*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    background: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);
    text-decoration: none;
    padding: 11px;   
    display:inline-flex
}

main{
    height: calc(100vh - 100px);
    background-image: url(imagenes/nebulae-g35fca1a77_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    
    
}
main h1{
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h2{
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-size-adjust: 10px;
}
.galeria2{
    width: 100%;
    height: auto;
    background: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);
    display: grid;
    padding: 20px;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;

}
.item{
    background: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);
    border: 2px solid #000;
    width: 100%;
    box-shadow: 1px 1px 5px #000; /* sombras*/
    filter: grayscale(100%);
    border-radius: 8px;
    
}
.item:hover{
    transform: scale(1.1);  /* animacion*/
    transition: all 0.8s;
    filter: grayscale(0%);
}  


footer{
    background: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 25px;
    text-align: center;
    color: #333;
    padding: 20px;

}
footer i{
    letter-spacing: 20px;
    color: #fff;
}


@media only screen and (min-width:480px){
    .galeria2{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 200px);
        font-size: 15px;
        margin-bottom: 40px;
        padding: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;

    }

}

@media only screen and (min-width:600px){
    .galeria2{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 250px);
        font-size: 25px;
        margin-bottom: 10px;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

}

@media only screen and (min-width:800px){
    .galeria2{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 300px);
        font-size: 25px;
        margin-bottom: 40px;
        padding: 40px;
        letter-spacing: 4px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

}

@media only screen and (min-width:1060px){
    .galeria2{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 250px);
        font-size: 30px;
        margin-bottom: 45px;
        padding: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        
    }


}