.jumbotron{
    background-image: url(imgs/mosaic-g95dc3f22e_1920.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    border-radius: 0; /* para borrar el redondeado de jumbotron por defecto*/
    margin-bottom: 0;
    text-shadow: 0 0 5px #000;
    
}
.navbar::before{
    content: "🐱‍💻";
    
}
h2{
    background-color: rgb(137, 216, 189);
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(172, 169, 165);
    margin-bottom: 0;
    
}
.al{
    background-image: url(imgs/mosaic-g95dc3f22e_1920.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}
.ar{text-align: center;
    background-color: rgb(137, 216, 189);
    margin-bottom: 0;
    
    }

.footer{
    text-align: center;
    background-color: rgb(137, 216, 189);
}
.redes{
    font-size: 30px;
    letter-spacing: 20px;
    text-align: center;
    background-color:rgb(137, 216, 189);
}